<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328529430929-k6o6lfqdneck38ag7u1t2o0vk0rrg3qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328529430929-k6o6lfqdneck38ag7u1t2o0vk0rrg3qf</string>
	<key>API_KEY</key>
	<string>AIzaSyAO64XL5uAAjSqMlryAllWQ3smFQctKkKk</string>
	<key>GCM_SENDER_ID</key>
	<string>328529430929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nutrition</string>
	<key>PROJECT_ID</key>
	<string>train-983ae</string>
	<key>STORAGE_BUCKET</key>
	<string>train-983ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328529430929:ios:5b614f3f4306a8f1ffb230</string>
	<key>DATABASE_URL</key>
	<string>https://train-983ae-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>